.navTitle {
  position: absolute;
  bottom: 10px;
  left: 75px;
}

.card {
  border-bottom: 1px solid lightgray;
}

small{
  color: rebeccapurple;
}

.column{
  max-width: 500px
}

.forms{
  max-width: 1000px
}

.campuslist{
  padding: 20px 20px 20px 20px
}

.studentlist{
  padding: 20px 20px 20px 20px
}

.addCampus{
  padding: 20px 20px 20px 20px
}